.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 50px;
    border-left: 50px;
}

.bttn2 {
    width: 85px;
    height: 30px;
    border-radius: 100px;
    border: 2px;
    background-color: #765334;
    color: #ffffff;
    font-weight: bold;
    border-right: 50px;
    border-left: 50px;
}

.bttn2:hover {
    background-color: #a07e5f;
    color: #000000;
}

ul {

    list-style: none;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;



}

.bttn {
    width: 100px;
    height: 30px;
    border-radius: 100px;
    border: 2px;

    background-color: #765334;
    color: #ffffff;
    font-weight: bold;
}

.bttn:hover {
    background-color: #8a5d52;
    color: #f5f5f5;
}

h2 {
    text-align: center;
}

.but2 {
    width: 85px;
    height: 30px;
    border-radius: 100px;
    border: 2px;
    background-color: #765334;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    border-right: 50px;
    border-left: 50px;
}

.but2:hover {
    background-color: #000000;
    color: #a07e5f;
}

#arrow {
    background-color: #5d7b6f;
    border: 2px;
    font-size: 30px;
    font-weight: bolder;
}